/vendor
/node_modules
.env
public/loops/uploads
public/css/style.css
public/css/style.css.map
public/js/angular/app.js
public/js/angular/app.js.map
public/js/jquery.js
public/js/jquery.js.map
public/js/angular/controllers/controllers.js
public/js/angular/controllers/controllers.js.map
public/js/angular/directives/directives.js
public/js/angular/directives/directives.js.map
public/js/angular/directives/services.js
public/js/angular/directives/services.js.map
config/database.php
public/images/profilePictures