/vendor
/node_modules
.env

#temporary ignore 

public/video/*
public/images/profilePictures
public/images/station.jpg
public/images/record.jpg
public/images/library.jpg
public/resources/assets
public/loops

#need to be compiled with gulp 

public/css/style.css
public/css/style.css.map
public/js/angular/app.js
public/js/angular/app.js.map
public/js/jquery.js
public/js/jquery.js.map
public/js/angular/controllers/controllers.js
public/js/angular/controllers/controllers.js.map
public/js/angular/directives/directives.js
public/js/angular/directives/directives.js.map