/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
public/css/style.css
public/video/*
public/images/profilePictures
public/images/station.jpg
public/images/record.jpg
public/resources/assets
public/loops