@font-face {
   font-family: AUdimat;
   src: url('../fonts/AUdimat-Regular.otf');
}

@font-face {
   font-family: AUdimatBold;
   src: url('../fonts/AUdimat-Bold.otf');
}

//h1 36px 
//h2 30px
//h3 24px
//h4 18px
//h5 14px
//h6 12px

body {
	color: $black;
}

//Responsive fonts
p,a,input[type="text"],span,div {
	font-size: 10px;
}

label {
	font-size: 12px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

//bold titles

h1, h2, h3, h4, h5, h6 {
	font-family: AUdimatBold;
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $screen-phone) {
	p,a,input[type="text"],label,span,div {
		font-size: 14px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-tablet) {
	p,a,input[type="text"],label,span,div {
		font-size: 16px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 22px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-desktop-s) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 34px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 28px;
	}
}