// Underline text
.underline {
    text-decoration: underline !important;
}

// Italic font
.italic {
    font-style: italic;
}

// Use font instead of font-weight
strong {
    font-weight: normal;
    font-family: AUdimatBold;
}

// Bootstrap full screen
.padding-0 {
    padding: 0;
}

// Remove blue border outline
button, a, input {
	&:focus {
		outline:0;
	}
}

.truncate {
    //width meegeven
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.black-link {
    color: $black;
    text-decoration: underline;

        &:hover{
            text-decoration: none;
            color: lighten($black, 15);
        }
}

// Mixins
@mixin text-shadow() {
    text-shadow: 1px 1px 1px $black;
}

// No min height
.no-min-h {
    min-height: 0;
}