// Main colors
$red: #F44336;
$green: #2DCC70;
$gray: #1E1E1E;
$black: #141414;
$white: #FCFCFC;
$orange: #f39c12;

$blue: #2196f3;
$yellow: #ffeb3b;

// Media queries
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop-s: 992px;
$screen-desktop-l: 1200px;
