
//Main colors
$beige: #EDEBDB;
$orange: #D15805;
$red: #A24611;
$brown: #6E5541;
$yellow: #f1c40f;

$black: #040404;
$gray: #C5C5C5;
$white: #ffffff;
$greenblue: #00B286; //Complementary color of red variable
$green: #00B286;

//Media queries
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop-s: 992px;
$screen-desktop-l: 1200px;

