/*
 *
 * Project Essentials */
//@import "includes/reset";
@import "includes/variables";
@import "includes/extends";
@import "includes/fonts";



/*
 *
 * Make it fancy */
@import "plugins/font-awesome";


/*
 *
 * UI Elements */
@import "ui/buttons";

//Components
//call to action
@import "views/components/record";
@import "views/components/register";

//sections
@import "views/sections/navigation";
@import "views/sections/footer";
/*
 *
 * Own styling */

//helper classes 

//bootstrap full screen
.padding-0 {
    padding: 0;
}

//overlay colors
 .beige-overlay {
    background-color: $beige;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

body{
	font-family: AUdimat;
}

.content {
	border-left: 2px solid $black;
	border-right: 2px solid $black;
}


