/*
 *
 * Project Essentials */
@import "includes/variables";
@import "includes/fonts";
@import "includes/helpers";
@import "includes/animations";

// Mixins
@mixin text-shadow() {
	text-shadow: 1px 1px 1px $black;
}

// Font-awesome
@import "plugins/font-awesome";


// UI Elements
@import "ui/buttons";

// Components
@import "views/components/loopbox";
@import "views/components/alerts";
@import "views/components/confirmation";

// Call to action
@import "views/components/record";
@import "views/components/register";

// Sections
@import "views/sections/navigation";
@import "views/sections/footer";
@import "views/sections/modal";
@import "views/sections/title";

// Views
@import "views/home";
@import "views/station";
@import "views/library";
@import "views/profile";
@import "views/record";
@import "views/search";


// Font
body {
	font-family: AUdimat;
}

// Container 
.container {
	width: 100%;
	
	@media only screen and (min-width : $screen-phone) {
    	width: 95%;
    }
}

// Center button
.center-button {
	display: block;
	margin: 0 auto;
}

// Guitar amp look
.content {
	background-color: $beige;
	padding-bottom: 15px;
	
	@media only screen and (min-width : $screen-phone) {
        border-left: 2px solid $black;
        border-right: 2px solid $black;
    }
}

// Forms
.form-control {
	padding: 5px;
	border: 2px solid $black;
	border-radius: 0;
	height: 40px;
}

.form-control:focus {
  border-color: $gray;
  box-shadow: none;
}

// Label
.label {
	font-family: AUdimatBold;
	width: 100%;
	padding: .5em;
}

// Tooltip styling
.tooltip-inner {
    max-width: 200px;
    width: 200px; 
}