/*
 *
 * Project Essentials */
//@import "includes/reset";
@import "includes/variables";
@import "includes/extends";
@import "includes/fonts";



/*
 *
 * Make it fancy */
@import "plugins/font-awesome";


/*
 *
 * UI Elements */
@import "ui/buttons";

//Components
//call to action
@import "views/components/record";
@import "views/components/register";

//sections
@import "views/sections/navigation";
@import "views/sections/footer";
/*
 *
 * Own styling */

//helper classes 

//bootstrap full screen
.padding-0 {
    padding: 0;
}

body{
	font-family: AUdimat;
}

.content {
	border-left: 2px solid $black;
	border-right: 2px solid $black;
}

p,a,input[type="text"] {
	font-size: 10px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $screen-phone) {
	p,a,input[type="text"] {
		font-size: 14px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-tablet) {
	p,a,input[type="text"] {
		font-size: 16px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-desktop-s) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $screen-desktop-l) {

}


