.heading { font-family: 'Lato', sans-serif; margin: 0; padding: 0;

	// Define sizes
	&.size-1 { font-size: 30px; line-height: 36px; }
	&.size-2 { font-size: 24px; line-height: 28px; }
	&.size-3 { font-size: 18px; line-height: 22px; }

	// Define weights
	&.weight-300 { font-weight: 300; }
	&.weight-400 { font-weight: 400; }
	&.weight-700 { font-weight: 700; }
	&.weight-900 { font-weight: 900; }

	// Define spacings
	&.spacing-xs { margin: 0 0 5px 0; }
	&.spacing-s { margin: 0 0 10px 0; }
	&.spacing-m { margin: 0 0 15px 0; }
	&.spacing-l { margin: 0 0 20px 0; }
	&.spacing-xl { margin: 0 0 25px 0; }

	// Define variations
	&.text-upper { text-transform: uppercase; }
	&.bordered { border-bottom: 3px solid $color-main; padding-bottom: 8px; }

}