.info-box {
	margin: 10px 0;
	overflow: hidden;
	display: table;
	opacity: 1;
	transition: opacity 1.2s ease-out;
	position: relative;
	width: 100%;

	p {
		display: block;
		padding: 5px 30px 5px 30px;
		margin-bottom: 0;
		transform: translateY(-100%);
  		animation: slideIn 1.2s ease-out forwards;
  		position: relative;
  		text-align: center;
	}

	.alert-type-icon {
		position: absolute;
		top: 5px;
    	left: 10px;
    	line-height: 1.42857143;
	}

	.close-button {
		color: $red;
		position: absolute;
		right: 5px;
		top: 5px;
		padding-right: 0;

		&:hover {
			cursor: pointer;
		}
	}

	@keyframes slideIn {
	  to {
	    transform: translateY(0%);
	  }
	}
}

.info-box.fade{
    opacity: 0;
}

.info-box.success p {
	background-color: lighten($green, 24);
}

.info-box.error p {
	background-color: lighten($red, 24);
}

.info-box.info p {
	background-color: lighten($blue, 24);
}

.info-box.close {
	display: none;
}
