.loop-box {

	background-color: $white;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 5px 0;
    height: 53px;
    position: relative;

    div {
    	height: 100%;
    }

	.play-button {
		float:left;
		height:40px; 
		width: 40px;
   		border-radius:100%;
    	line-height:40px;
		background-color: $black;
		color: $red;
		text-align:center;
    	vertical-align:middle;
    	display:inline-block;
    	margin-left: -20px;
		transition: all .2s linear;


	    &:hover, &:active, &:focus {
	    	color: $green;
	    	text-shadow:0px 0px 6px rgba( $green, 0.8);
	    	cursor: pointer;

	    }

		i {
			line-height: inherit;
			padding: 0 14px;
			font-size: 16px;
		}
	}

	.music {
		display: none;
	}

	.loop-title {
		height: 50%;
		margin: 0;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}

	.duration {
		width: 30%;
	}

	.category {
		width: 70%;
	}

	.category, .duration {
		padding-top: 5px;
		height: 50%;
		display: inline-block;
		float: left;
		margin-bottom: 0;
	}

	.user-info {
		.user-avatar {
			width: 25px;
			height: 25px;
			border-radius: 5%;
			background-repeat: no-repeat;
    		background-size: cover;
		}

		.user-name {
			display: none;
		}
	}

	.favourite {
		position: absolute;
		height: 100%;
		//width: 30px;
		right: 5px;
		top: 0;
		display: table;
		border-left: 1px solid $black;

		i {
			display: table-cell;
			vertical-align: middle;
			padding-left: 5px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.labels {
	padding-left: 10px;
	min-height: 20px;
	max-height: 20px;

	.label {
		background-color: $gray;
		font-weight: normal;
		border-radius: 0;
	}

	p {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		margin-bottom: 0;
	}
}


@media only screen and (min-width : $screen-phone) {

 	.loop-box {

		.category, .duration {
			padding-top: 3px;
		}

		.user-info {
			.user-avatar {
				float:left;
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				height: 30px;
				width: 30px;
    			margin: 5px 5px 0 0;

			}

			.user-name {
				display: block;
			}
		}
 	}
}

@media only screen and (min-width : $screen-tablet) {

 	.loop-box {
		height: 74px;
	    padding: 5px 15px;
	    border-radius: 35px;

		.play-button {
			height:60px; 
			width: 60px;
	    	line-height:60px;

			i {
				line-height: inherit;
				padding: 0 21px;
				font-size: 24px;
			}
		}

		.category, .duration {
			padding-top: 10px;
		}

		.user-info {
			.user-avatar {
    			margin: 0;
    		}

			.reputation-count {
				display: block;
				margin-top: -5px;
				font-size: 12px;
			}
		}
	}

	.labels {
		padding-left: 15px;
		min-height: 30px;
		max-height: 30px;
	}

}

@media only screen and (min-width : $screen-desktop-s) {
	 	.loop-box .user-info .user-avatar {
	  		margin-right: 5px;
		} 

		.labels {
			min-height: 35px;
			max-height: 35px;
		}
}
