.register-cta {
	position: relative;
	background-image: url('/images/record.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	padding-bottom: 40px;
	overflow:hidden;

	.title {
		text-align: center;
		color: $white;
	}

	a{
		display: block;
		margin: 0px auto;
	}

}