.modal-header{
	background: $black;
	color:$white;

	.close {
		color: $red;
		opacity: 1;
		text-shadow: none;
		&:hover {
			color:lighten($red,6);
		}
	}
}

.modal-body {
	background-color: $white;
}

.modal-footer {
	background-color: $black;
	color: $white;
	text-align: left;

	a{
		text-decoration: underline;
		color: $red;

		&:hover{
			text-decoration: none;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $screen-phone) {
	.modal-dialog {
		width: 300px;
		margin: 30px auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-tablet) {
	.modal-dialog {
		width: 450px;
	}
}

//Overheating modal
.modal-body.reward {
	.reward-title, .reward-info {
		text-align: center;
	}
	
	.reward-icon {
		color: $yellow;
	}
}
