.modal-header{
  	background: $black;
  	color: white;
    text-align: center;

    h4 {
        font-size: 28px;
    }

  	h2 {
  		margin: 0;
      	display: inline-block;
  	}

  	.close {
  		color: $red;
  		opacity: 1;
  		text-shadow: none;
  		font-size: 32px;
  		
  		&:hover {
  			color:lighten($red,6);
  		}
  	}
}

.modal-body {
	background-color: $white;
	overflow: hidden;
}

.modal-footer {
	background-color: $black;
	color: $white;
	text-align: left;

	a{
		text-decoration: underline;
		color: $red;

		&:hover{
			text-decoration: none;
		}
	}
}

@media only screen and (min-width : $screen-phone) {
	.modal-dialog {
		width: 300px;
		margin: 30px auto;
	}
}

@media only screen and (min-width : $screen-tablet) {
	.modal-dialog {
		width: 450px;
	}
}

//Overheating modal
.modal-body.reward {
	.reward-title, .reward-info {
		text-align: center;
	}
	
	.reward-icon {
		color: $yellow;
	}
}


//Bottom modal with video list
.modal-bottom {

    @extend .z-depth-4;

    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;

    border-radius: 2px;
    will-change: top, opacity;

    @media #{$medium-and-down} {
        width: 80%;
    }

    h1,h2,h3,h4 {
        margin-top: 0;
    }

    .modal-bottom-content {
        padding: 24px;
    }

    .modal-bottom-footer {
        border-radius: 0 0 2px 2px;
        background-color: #fafafa;
        padding: 4px 6px;
        height: 56px;
        width: 100%;

        .btn, .btn-flat {
            float: right;
            margin: 6px 0;
        }
    }

    .video-modal-title {
        font-size: 2em;
    }

    .youtube-link {
        color: #E62117; //youtube red

        &:hover {
            color: lighten(#E62117, 20);
        }

    }

    .collection .collection-item.avatar .collection-title {
        font-size: 1.2em;
        font-family: AUdimatBold;
        margin-bottom: 10px;
    }

    .collection .collection-item.avatar .collection-info {
        width: 80%;
    }
  
}

.lean-overlay {
    position: fixed;
    z-index:999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;

    will-change: opacity;
}

// Modal Bottom Sheet Style
.modal-bottom.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
}

//Logout and register success modals
.logout-modal, .register-modal {
    .modal-body {
        text-align: center;
        padding: 30px 15px;
        position: relative;

        h3, p {
            margin: 0;
            z-index: 2;
            position: relative;
        }
    }
}

//Login and success modal
.login-modal {
    .modal-body {
        text-align: center;
        padding: 30px 15px;
        position: relative;

        h3, p, a {
            margin: 0;
            z-index: 2;
            position: relative;
        }

        a {
            margin: 30px auto 0 auto;
            width: 70%;
        }
    }
}

@media only screen and (min-width : $screen-tablet) {
    .login-modal, .logout-modal, .register-modal {
        .modal-body {
            padding: 60px 15px;
        }
    }
}