.header-decoration {
	display: none;
}

.header{
	background: linear-gradient(27deg, lighten($black, 5) 5px, transparent 5px) 0 5px, linear-gradient(207deg, lighten($black, 5) 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: $black;
    background-size: 20px 20px;
	padding: 10px 0;
	border-bottom: 1px solid $black;

	.logo {
		width: 70px;
		height: auto;
	}
}

.navigation {
	padding-top: 15px;
	background-color: $beige;
	border-bottom: 1px solid $black;

	.center-content {

		display: inline-block;

		a{
			display: block;
			margin: 0 auto;
		}		

		p{
			clear:both;
			text-align: left;
			text-transform: uppercase;
			width: auto;
			display: inline-block;
		}

		#login-text {
			padding: 0 3px;
		}
	}

	#login-button{

		    &:active + #login-light, &:focus + #login-light {
		    	background-color: $green;
		    }
	}

	#login-light {
		transition: all .4s linear;
		top: 0;
        margin-left: -6px;
		height: 6px;
		width: 6px;
		border-radius: 3px;
		position: absolute;
        background-color: $red;
	}

	#login-light.bg-green {
		background-color: $green;
	}

	#login-button.green {
		color: $green;
	}

	@media only screen and (min-width : $screen-desktop-s) {
		#login-light {
			margin-left: -12px;
			height: 12px;
			width: 12px;
			border-radius: 6px;
		}
	}

 	#search-button {
		z-index: 100;
		position: relative;
	} 

	#search-input {
		position: absolute;
	    top: 0;
	    margin-left: 15px;
	    height: 30px;
	    border-top-right-radius: 15px;
	    border-bottom-right-radius: 15px;
	    border: 0 solid $red;
	    width: 0;
	    padding: 0;
	    border: 0;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $screen-phone) {

	.header-decoration {
		display: block;
		margin: 0 auto;
		height: 17px;
	    width: 220px;
	}

	.header{
		border-top: 2px solid $black;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom: 4px solid $black;
	}

	.navigation {
		border-left: 7px solid $black;
		border-right: 7px solid $black;
		border-bottom: 4px solid $black;
	}

	.header-decoration {
		height: 25px;
    	width: 350px;
	}

	.header .logo {
		width: 100px;
	}

	.navigation {

		#search-input {
		    margin-left: 20px;
		    height: 40px;
		   	border-top-right-radius: 20px;
		    border-bottom-right-radius: 20px;
		}
		.center-content {
			overflow:hidden;
		}
	}
}


/* Small Devices, Tablets */
@media only screen and (min-width : $screen-tablet) {
	.header .logo {
		width: 120px;
	}

	.navigation {
		.center-content {
			p {
				font-size: 22px;
				margin-top: 5px;
			}

			#login-text {
				padding: 0 15px;
			}
		}

		#search-input {
		    margin-left: 30px;
		    height: 60px;
		   	border-top-right-radius: 30px;
		    border-bottom-right-radius: 30px;
		}

		#search-input[placeholder]{
			font-size: 16px;
		}
	}
}

@media only screen and (min-width : $screen-desktop-s) {

	.header-decoration {
		height: 30px;
    	width: 600px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $screen-desktop-l) {
	.header .logo {
		width: 170px;
	}
}