.header {
    background-color: $gray;
    background-size: 20px 20px;
	padding: 10px 0;
	border-bottom: 1px solid $black;
	position: relative;

	a {
		display: inline-block;
	}

	.logo {
		width: 70px;
		height: auto;
	}

	.quote {
		display: inline-block;
		color: white;
		font-style: italic;
		padding: 5px 0;
		margin: 0;
	}
}

@media only screen and (min-width : $screen-phone) {

	.header {
		border-bottom: 2px solid $black;
	}

	.header .logo {
		width: 100px;
	}
}

@media only screen and (min-width : $screen-desktop-s) {
	.header {
		.quote {
			padding-top: 15px;
		}

		.logo {
			width: 120px;
		}
	}
}

@media only screen and (min-width : $screen-desktop-l) {
	.header .logo {
		width: 170px;
	}
}

.navigation {
	background-color: $red;

	.mobile-dropdown {
		display: block;

		@media only screen and (min-width : $screen-tablet) {
			display: none;
		}

	}

	.mobile-dropdown li {
		border-bottom: 1px solid $gray;
	}

	#menu {
		background: $red;
		width: auto;
		box-sizing: content-box;

		&.dropdown {
			max-height: 0;
			z-index: -10;
			opacity: 0;
			transition: max-height .5s ease-out, opacity .5s ease-out;

			@media only screen and (min-width : $screen-tablet) {
				max-height: 100px;
				z-index: 20;
				opacity: 1;
			}

			&.down {
				opacity: 1;
				max-height: 300px;
				z-index: 10;

				ul li a {
				    border-bottom: 1px solid $gray;
				}
			}

			ul li a {
			    border-bottom: none;
			}
		}


	}

	#menu ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    line-height: 1;
	    display: block;
	    zoom: 1;
	    font-size: 0;
	}

	#menu ul:after {
	    content: " ";
	    display: block;
	    font-size: 0;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}

	#menu ul li {
	    display: inline-block;
	    padding: 0;
	    margin: 0;

	    .mobile-dropdown {
	    	display: inline-block;

	    	@media only screen and (min-width : $screen-phone) {
		    	display: none;
		    }

	    }

	   	#search-input {
	    	border: none;
		    padding: 8px;
		    margin: 8px 0px 8px 0px;
		    color: black;
		    width: 100%;
		    font-size: 14px;

		    @media only screen and (min-width : $screen-phone) {
		    	width: 50%;
		    }
	    }

	    ::placeholder {
	    	font-size: 14px;
	    }

	    &.mobile-search {
			display: inline-block;
			border-bottom: 1px solid $gray;
			width: 100%;
			overflow: hidden;

			@media only screen and (min-width : $screen-tablet) {
				display: none;
			}
	    }

	    &.search {
	    	display: none;
	    	overflow: visible;

			@media only screen and (min-width : $screen-tablet) {
				display: inline-block;
			}

	    	#search-input {
    			display: inline-block;
    			position: absolute;
			    top: 48px;
			    margin: 0;
			    background-color: $gray;
			    width: 25%;
			    padding-left: 25px;
			    z-index: 25;
			    opacity: 0;
			    animation: fadeIn 1s ease-out forwards;
			    font-size: 16px;
			    color: white;

			    &::placeholder {
			    	color: lighten($black, 55);
			    	font-size: 16px;
			    }

			    @keyframes fadeIn {
				  to {
				    opacity: 1;
				  }
				}
	    	}
	    }

	    &.logout-button, &.login-button, &.avatar-section {
	    	
	    	@media only screen and (min-width : $screen-tablet) {
				float: right;
		    }
	    }

	    &.avatar-section {
	    	display:none;
			@media only screen and (min-width : $screen-tablet) {
				display: block;
			}

	    	a {
		    	padding: 12px 50px 12px 10px;

		    	.avatar {
			   		width: 24px;
					height: 24px;
					background-repeat: no-repeat;
		    		background-size: cover;

					span {
						position: absolute;
						left: 39px;
					    top: 15px;
					    font-size: 14px;

					    i {
					    	padding-right: 1px;
					    }
					}
			    }
			}
	    }

	}

	#menu ul li a {
	    color: white;
	    text-decoration: none;
	    display: block;
	    padding: 15px 25px;
	    text-transform: uppercase;
	    font-size: 14px;
	    position: relative;
	    transition: color .25s;

		span {
		  	font-size: 14px;

		    @media only screen and (min-width : $screen-tablet) {
				font-size: 18px;
		    }
		}
	}
	#menu ul li a:hover {
	   color: #1e1e1e;
	}
	#menu ul li a:hover:before {
	   width: 100%;
	}
	#menu ul li a:after {
	   content: "";
	   display: block;
	   position: absolute;
	   right: -3px;
	   top: 19px;
	   height: 6px;
	   width: 6px;
	   background: white;
	   opacity: .5;
	}

	#menu ul li a.search-button:after, #menu ul li.logout-button a:after {
	   display: none;
	}

	#menu ul li a:before {
	   content: "";
	   display: block;
	   position: absolute;
	   left: 0;
	   bottom: 0;
	   height: 3px;
	   width: 0;
	   background: $gray;
	   transition: width .25s;
	}
	#menu ul li.last > a:after,
	#menu ul li:last-child > a:after {
	   display: none;
	} 
	#menu ul li.active a {
	   color: $gray;
	}
	#menu ul li.active a:before {
	   width: 100%;
	}

	@media screen and (max-width: 768px) {
		#menu ul li {
		    float: none;
		    display: block;
		}
		#menu ul li a {
		    width: 100%;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    border-bottom: 1px solid $gray;
		}
		#menu ul li.last > a,
		#menu ul li:last-child > a {
		    border: 0;
		}
		#menu ul li a:after {
		    display: none;
		}
		#menu ul li a:before {
		    display: none;
		}
	}

}