/*
 *
 * Project Essentials */
//@import "includes/reset";
@import "includes/variables";
@import "includes/extends";
@import "includes/fonts";



/*
 *
 * Make it fancy */
@import "plugins/font-awesome";


/*
 *
 * UI Elements */
@import "ui/buttons";

//components
@import "views/components/search";

//sections
@import "views/sections/navigation";

/*
 *
 * Own styling */

body{
	font-family: AUdimat;
}

.content {
	border-bottom: 2px solid $black;
	border-left: 2px solid $black;
	border-right: 2px solid $black;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}


