.admin {
	overflow: hidden;
	padding-bottom: 45px;

	.user-avatar {
		background-repeat: no-repeat;
    	background-size: cover;
	}

	.admin-loopbox {
		.gapless-block {
			display: none;
		}
	}

	.user-overview {
		margin-bottom: 45px;
	}
}