.library {

    background-color: $gray;
    overflow: hidden;

    .title-section {
        background-image: url('/images/library.jpg');
        margin-bottom: 0;
    }

    .sidebar {
        padding: 0;
    }
    
    .sidebar-nav.mobile {
        max-height: 0;
    }

    .sidebar-nav {
        list-style: none;
        padding: 0 0 0 15px;
        margin-bottom: 0;
        transition: max-height 1s ease-out, padding 1s ease-out;
        overflow: hidden;

        li {
            padding-bottom: 5px;
            
            i, a {
                color: $red;
                display: inline-block;
            }
            
            i {
                font-size: 1.4em;
                padding-right: 2px;

                &:hover{
                    cursor: pointer;
                    color: lighten($red, 10);
                }
            }

            a {
                text-decoration: none;
                font-size: 1.2em;

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &:first-child{
                padding-top: 15px;
            }

            &:last-child {
                padding-bottom: 15px;
            }

        }

        .title {
            padding: 5px 0 10px 0; 
            color: $white;
            font-family: AUdimatBold;
            
            p {
                font-size: 1.5em;
            }
        }
    }

    .sidebar-nav.down {
        max-height: 450px;
    }

    .slide-up-toggle {
        background-color: $red;
        text-align: center;
        transition: background-color 0.2s ease-out;
        padding: 5px 0;
        color: $white;

        &:hover {
            background-color: lighten($red , 10);
            cursor: pointer;
        }

        i {
            margin: 0 auto;
        }
    }


    .loops {
        padding-top: 15px;
        background-color: $white;
    }

    .load-more-button {
        width: 100%;
        margin: 15px auto;
        display: block;
    }

    @media only screen and (min-width : $screen-phone) {

        .loops {
            min-height: 466px;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : $screen-tablet) {
        .sidebar {
            padding-right: 15px;
        }

        .load-more-button {
            width: 300px;
        }
    }

}

