.profile {

	.title-section {
		background-image: url('/images/profile.jpg');
	}

	.profile-picture {
		margin: 15px 0 10px 0;
		width: 75px;
		height: 75px;
		border-radius: 100%;
		background-repeat: no-repeat;
    	background-size: cover;
    	border: 2px solid $black;
    	position: relative;
    	display: table;

    	.profile-rank-icon {
    		position: absolute;
    		right: -5px;
    		bottom: 0;
    	}

    	&:hover {
    		.profile-edit {
    			opacity: 1;
    		}
    	}
	}

	.profile-edit {
		opacity: 0;
		transition: opacity 0.2s ease-out;
		display: table-cell;
		vertical-align: middle;
		font-size: 3em;
		color: $red;

		&:hover {
			color: $red;
		}

	}

	.profile-name {
		margin: 0 0 15px 0;
	}

	.profile-rank, .profile-rank-info {
		list-style-type: none;
		width: 100%;
  		display: table;
  		padding: 0;

  		li {
			display: table-cell;
  			width: auto;
  			text-align: center;
  		}
	}

	.profile-rank {
  		border: 2px solid $black;
  		height: 25px;

		li {
  			background-color: $white;
       		background-image: url('/images/subtle_dots.png');
		}

		li.filled {
			background-image: none;
  			animation-duration: 2s;
	   		animation-name: colorChanging;
	  		animation-iteration-count: infinite;
	    	animation-direction: alternate;
		}
	}

	.profile-rank-info li img {
		margin: 0 auto;
	}

	.profile-rank-icon {
		height: 25px;
		width: 25px;
	}

	@keyframes colorChanging {
	      0%   {background-color: $red;}
		  100%  {background-color: $yellow;}
	}

	.toggle-text {
		margin-bottom: 15px;
	}

	form {
		margin-top: 15px;
	}


	@media only screen and (min-width : $screen-phone) {
		.profile-picture {
			width: 125px;
			height: 125px;
		}

		.profile-rank, .profile-rank-info {
			width: 70%;
		}

		.profile-rank {
			height: 30px;
		}

		.profile-rank-icon {
			height: 35px;
			width: 35px;
		}
	}

	@media only screen and (min-width : $screen-tablet) {
		.profile-picture {
			width: 150px;
			height: 150px;
		}

		.profile-rank, .profile-rank-info {
			width: 50%;
		}

		.profile-rank {
			height: 35px;
		}

		.profile-rank-icon {
			height: 40px;
			width: 40px;
		}
	}

	@media only screen and (min-width : $screen-desktop-s) {
		.profile-picture {
			width: 175px;
			height: 175px;
		}

		.profile-rank-icon {
			height: 50px;
			width: 50px;
		}
	}

	@media only screen and (min-width : $screen-desktop-l) {
		.profile-picture {
			width: 300px;
			height: 300px;
		}
	}

}