.record {
	overflow: hidden;
	padding: 15px 0;

	.record-button-modal, .pauze-button-modal {
		margin: 0 auto;
		display: block;
		width: 180px;
		height: 180px;
		background-color: $red;

		&:hover, &:active, &:focus {
			background-color: darken($red, 10);
		}

		i {
			line-height: 180px;
			font-size: 6rem;
		}

		@media only screen and (min-width : $screen-desktop-s) {
			width: 100px;
			height: 100px;

			i {
				line-height: 100px;
				font-size: 3rem;
			}
		}
	}

	.preloader-wrapper {
		margin: 0 auto;
		display: block;
	}

	.button-record-options {
		margin-left: calc(50% + 20px);

		a {
			background-color: $red;

			&:hover, &:active, &:focus {
				background-color: darken($red, 10);
			}
		}
	}

	.time  {
		text-align: center;
	}

	.progress {
		margin: 15px 0;
	}
}