.search {

	overflow: hidden;
	padding-bottom: 45px;

	.load-more-button {
		width: 100%;
		margin: 15px auto;
    	display: block;
	}

    @media only screen and (min-width : $screen-tablet) {
		.load-more-button {
			width: 350px;
		}

		.title {
			margin-top: 45px;
		}
    }
}