.station {

	overflow: hidden;

	section.your-loops {
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid darken($white, 10);
		display: inline-block;
		padding-bottom: 45px;
		width: 100%;

		.load-more-button, .remove-button, .editing-button {
			width: 100%;
			margin: 15px auto;
	    	display: block;
		}

		.action-buttons {
				position: relative;

				.button-wrapper {
					width: 50%;
					display: inline-block;
					float:left;
				}

				a {
					display: block;
				}

				.delete {
					float: right;
					margin-right: 5px;
				}

				.edit {
					float: left;
					margin-left: 5px;
				}

				@media only screen and (min-width : $screen-tablet) {
					a {
						margin: 15px 5px 0 0;
						position: absolute;
						right: 15px;
						top: 0;
					}

					.delete {
						right: 65px;
						margin-left: none;
					}
			    }
		}

		.loop-box {
			// Delete and edit button in a loop
			.delete-button, .edit-button {
				position: absolute;
				left: calc(50% - 17px);
				top: calc(50% - 17px);
			}

			// Deletable loop
			&.deletable {
				border-color: #D32F2F;
				background-color: lighten(#D32F2F, 30);
			}

			// Editable loop
			&.editable {
				border-color: $blue;
				background-color: lighten($blue, 35);
			}
		}

		@media only screen and (min-width : $screen-tablet) {
			.load-more-button, .remove-button, .editing-button {
				width: 350px;
			}
		}
	}

	section.upload-section {
	
		overflow: hidden;
		position: relative;
		padding-bottom: 45px;
		width: 100%;

		.record-button {
			margin: 30px auto 30px auto;
			display: block;
			width: 100px;
			height: 100px;

			i {
				font-size: 3rem;
				line-height: 100px;
			}
		}

		.upload-button {
			margin-top: 25px;
		}

	    @media only screen and (min-width : $screen-tablet) {

			.record-button {
				margin: 15px auto;
			}
	    }

	    .division-title {

		    span {
		    	font-size: 2rem;
		    }

	    	&:before {
		        width: 75%;
		    }
	    }
	}


}

.station-edit {
	overflow: hidden;
	padding-bottom: 45px;
	
	.block-title {
		margin-bottom: 30px;
	}
}