.station {

	.title-section {
		background-image: url('/images/station.jpg');
	}

	.load-more-button, .remove-button {
		width: 100%;
		margin: 15px auto;
    	display: block;
	}

	.upload-button {
		margin-top: 25px;
	}

	h4 {
		margin-top: 0px
	}

    @media only screen and (min-width : $screen-tablet) {
		.load-more-button, .remove-button {
			width: 350px;
		}
    }

	@media only screen and (min-width : $screen-desktop-l) {
		
		.upload-section {
			.form-control {
				width: 70%;
			}
	
			.file-upload-input {
				width: 40%;
			}
	
			.file-upload-button {
				width: 30%;
			}
	
			.upload-button {
				width: 70%;
			}
		}

	}

}