$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop-s: 992px;
$screen-desktop-l: 1200px;

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : $screen-phone) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : $screen-tablet) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-desktop-s) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : $screen-desktop-l) {

    }