//Turn button

.turn-button{
	display: block;
	background-color: $black;
	color: $red;
	border-radius: 50%;
	height: 30px;
	margin: 0;
	position: relative;
	width: 30px;			
	transition: all .2s linear;
	font-size: 10px;
	text-decoration: none;
	transform: rotate( -180deg );
    
    &:hover, &:active, &:focus {
        color:$greenblue;
        text-shadow:0px 0px 6px rgba( $greenblue, 0.8);
        transform: rotate( 0deg );
    }
    
    &:after {
        content: "";
        display: block;
        height: 30px;
        position: absolute;
        width: 30px;
    }
	
}

.tick:after{
	font-family: FontAwesome;
	content: "\f054";
	left:22px;
	top:9px;
}

@media only screen and (min-width : $screen-phone) {

	.turn-button{
		height: 40px;
		width: 40px;
		font-size: 13px;		
	}

	.tick:after{
		left:28px;
		top:12px;
	}
}

@media only screen and (min-width : $screen-desktop-s) {

	.turn-button{
		height: 60px;
		width: 60px;
		font-size: 16px;		
	}

	.tick:after{
		left:46px;
		top:20px;
	}
}




//Round button

.round-button{
	font-size: 14px;
	padding: 5px 5px 5px 9px;
	display: table;
	margin: 0px auto;
	width: 30px;
	height: 30px;
	color: $red;
	background-color: black;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s linear;

    &:hover, &:active, &:focus {
    	color: $greenblue;
    	text-shadow:0px 0px 6px rgba( $greenblue, 0.8);
    }
}

@media only screen and (min-width : $screen-phone) {

	.round-button{
		padding: 8px 5px 5px 12px;
		height: 40px;
		width: 40px;
		font-size: 18px;		
	}

}

@media only screen and (min-width : $screen-desktop-s) {

	.round-button{
		padding: 14px 5px 5px 20px;
		height: 60px;
		width: 60px;
		font-size: 22px;		
	}
}

//Ghost button white
.ghost-button-white {
  font-size: 16px;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: $white;
  border: 2px solid $white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-radius 0.2s ease-out;
  border-radius: 5px;

  &:hover, &:active, &:focus{
  	background-color: $white;
  	color: $black;
  	transition: background-color 0.3s ease-in, color 0.3s ease-in, border-radius 0.3s ease-in;
  	text-decoration: none;
  	border-radius: 0px;
  }
}

.ghost-button-green {
	@extend .ghost-button-white;

	color: $greenblue;
  	border: 2px solid $greenblue;

	&:hover, &:active, &:focus{
		background-color: $greenblue;
  		color: $white;
	}
}

.ghost-button-red {
	@extend .ghost-button-white;

	color: $red;
  	border: 2px solid $red;

	&:hover, &:active, &:focus{
		background-color: $red;
  		color: $white;
	}
}

